@import 'styles/_variables';

.productListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 14px;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.NoResultWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NoResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NoResultText {
  font-size: $xmedium;
  font-weight: $fw-500;
  color: $black-100;
  margin-bottom: $small;
}
