@import 'styles/_variables';

.productListContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: $small;

  @media (max-width: 1440px) {
    grid-template-columns: repeat(4, minmax(211px, 349.33px));
  }
  @media (max-width: 1080px) {
    grid-template-columns: repeat(3, minmax(211px, 349.33px));
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(211px, 349.33px));
  }
  @media (max-width: 512px) {
    grid-template-columns: 1fr;
  }
}

.NoResultWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.NoResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NoResultText {
  font-size: $xmedium;
  font-weight: $fw-500;
  color: $black-100;
  margin-bottom: $small;
}
