@import 'styles/_variables';

.productListContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: $small;

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1250px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


