//Colors

$orange: #ff6000;
$black: #000000;
$black-100: #333333;
$grey: #eeeeee;
$grey-100: #bdbdbd;
$grey-200: #b0b0b0;
$grey-300: #646464;
$grey-400: #484848;
$white: #ffffff;
$red: #f90000;
$red-100: #d65959;
$green: #90d659;

//Font sizes

$none: 0;
$xxxxsmall: 0.125em; // 2px
$xxxsmall: 0.25em; // 4px
$xxsmall: 0.5em; // 8px
$xsmall: 0.75em; // 12px
$small: 0.875em; // 14px
$medium: 1em; // 16px
$xmedium: 1.25em; // 20px
$large: 1.5em; // 24px
$xlarge: 1.75em; // 28px
$xxlarge: 2em; // 32px
$xxxlarge: 2.5em; // 40px
$xxxxlarge: 3em; // 48px
