@import 'styles/_variables';

.SidebarContainer {
  margin-bottom: $large;

  .SortName {
    font-size: $medium;
    font-weight: $fw-500;
    line-height: $large;
    margin-bottom: $xmedium;
  }

  .SortList {
    list-style: none;

    .Element {
      margin-bottom: 6px;
      font-size: 15px;
      line-height: 15px;

      &:hover {
        cursor: pointer;
        color: $orange;
      }
    }
    .Selected {
      color: $orange;
    }
  }
}