@import 'styles/_variables';

.sideBarContainer {
  display: flex;
  flex-direction: column;
  position: sticky;
  padding: $xmedium $none;
  top: $none;

  @media (max-width: 500px) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}